//
   Created by hawang on 12/31/14.

extends ../../layouts/default_angular
block head
   title 课程设置
block neck
   link(rel='stylesheet', href='/views/course/index.min.css?#{cacheBreaker}')
//block feet
//   script(src='/views/course/index.min.js?#{cacheBreaker}')
block body
   div.row
      div.col-sm-6
         div.page-header
            h1 课程设置
         //li(ng-repeat="course in courses")

         //div.media
           // a.pull-left(href='#')
             //  img.media-object(src='/media/Pawn-small.png', alt='{{course.name}}', style='width: 100px; height: 128px;')
            //div.media-body
              // h4.media-heading {{course.name}}
               //p {{course.desription}}
      div.col-sm-6.special
         div.page-header
            h1 Prestige Worldwide
         p.lead The first name in entertainment.
         i.fa.fa-volume-up.super-awesome
