extends ../../layouts/default

block head
  title Teachers
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='index.js')

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
    div.chess
        div.panel.panel-info.level1
            div.panel-heading
                h3.panel-title 初级
            div.panel-body
                囯际象棋（英语：chess），又称欧洲象棋或西洋棋，是一种二人对弈的战略棋盘游戏。囯际象棋的棋盘由64个黑白相间的八乘八网格组成。这是世界上最流行的游戏之一，世界各地数以百万计的人在家中、俱乐部中、网络上以通信囯际象棋或比赛的型式游玩。

                每位玩家一开始都各有16个棋子：一个国王、一个皇后、两个车、两个马、两个主教和八个士兵。六种棋子的移动类型都不一样。棋子是用来攻克对手的棋子，目标是将对方的国王处在不可避免的威胁之下以将死对方。除了将死，也可以通过对方自愿性地投降而获胜，通常会发生在大多数的棋子死亡或不可避免将死的时候。棋局也可以在一些情况下和局，导致没有玩家获胜。游戏过程被区分作三个阶段：囯际象棋开局、囯际象棋中局、囯际象棋残局。囯际象棋估计共有1043至1050种棋局变化。黑白棋子各16个，多用木或塑胶制成，也有用石材制作；较为精美的石头、玻璃（水晶）或金属制棋子常用作装饰摆设，囯际象棋或欧洲象棋为中国称呼。
            a(href="teacher_level.html" title="了解初级班老师信息")
              button.btn.btn-primary.level1(type="button") 更多信息
        div.panel.panel-info.level2
            div.panel-heading
                h3.panel-title 中级
            div.panel-body
                囯际象棋（英语：chess），又称欧洲象棋或西洋棋，是一种二人对弈的战略棋盘游戏。囯际象棋的棋盘由64个黑白相间的八乘八网格组成。这是世界上最流行的游戏之一，世界各地数以百万计的人在家中、俱乐部中、网络上以通信囯际象棋或比赛的型式游玩。

                每位玩家一开始都各有16个棋子：一个国王、一个皇后、两个车、两个马、两个主教和八个士兵。六种棋子的移动类型都不一样。棋子是用来攻克对手的棋子，目标是将对方的国王处在不可避免的威胁之下以将死对方。除了将死，也可以通过对方自愿性地投降而获胜，通常会发生在大多数的棋子死亡或不可避免将死的时候。棋局也可以在一些情况下和局，导致没有玩家获胜。游戏过程被区分作三个阶段：囯际象棋开局、囯际象棋中局、囯际象棋残局。囯际象棋估计共有1043至1050种棋局变化。黑白棋子各16个，多用木或塑胶制成，也有用石材制作；较为精美的石头、玻璃（水晶）或金属制棋子常用作装饰摆设，囯际象棋或欧洲象棋为中国称呼。
            button.btn.btn-primary.level1(type="button") 更多信息
        div.panel.panel-info.level3
            div.panel-heading
                h3.panel-title 高级
            div.panel-body
                囯际象棋（英语：chess），又称欧洲象棋或西洋棋，是一种二人对弈的战略棋盘游戏。囯际象棋的棋盘由64个黑白相间的八乘八网格组成。这是世界上最流行的游戏之一，世界各地数以百万计的人在家中、俱乐部中、网络上以通信囯际象棋或比赛的型式游玩。

                每位玩家一开始都各有16个棋子：一个国王、一个皇后、两个车、两个马、两个主教和八个士兵。六种棋子的移动类型都不一样。棋子是用来攻克对手的棋子，目标是将对方的国王处在不可避免的威胁之下以将死对方。除了将死，也可以通过对方自愿性地投降而获胜，通常会发生在大多数的棋子死亡或不可避免将死的时候。棋局也可以在一些情况下和局，导致没有玩家获胜。游戏过程被区分作三个阶段：囯际象棋开局、囯际象棋中局、囯际象棋残局。囯际象棋估计共有1043至1050种棋局变化。黑白棋子各16个，多用木或塑胶制成，也有用石材制作；较为精美的石头、玻璃（水晶）或金属制棋子常用作装饰摆设，囯际象棋或欧洲象棋为中国称呼。
            button.btn.btn-primary.level1(type="button") 更多信息